<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to NestJs Blog!</title>
  </head>
  <body>
    <h1
      style="color: #2c3e50; font-family: Arial, sans-serif; font-weight: 500"
    >
      Welcome to NestJs Blog, <%= name %>!
    </h1>

    <p style="font-family: Arial, sans-serif; color: #34495e">
      Thank you for joining us. We are excited to have you as a member of our
      community.
    </p>

    <p style="font-family: Arial, sans-serif; color: #34495e">
      Here are your account details:
    </p>
    <ul style="font-family: Arial, sans-serif; color: #34495e">
      <li>Email: <%= email %></li>
      <li>Login URL: <%= loginUrl %></li>
    </ul>

    <p style="font-family: Arial, sans-serif; color: #34495e">
      Please feel free to explore our blog and share your thoughts with us. We
      are always looking for ways to improve and would love to hear your
      feedback.
    </p>

    <p style="font-family: Arial, sans-serif; color: #34495e">
      If you have any questions or need assistance, please don't hesitate to
      reach out to us.
    </p>
    <p style="font-family: Arial, sans-serif; color: #34495e">Best regards,</p>
    <p style="font-family: Arial, sans-serif; color: #34495e">The Team</p>
  </body>
</html>
